<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Custom_Swedbanklink>
			<version>0.0.1</version>
		</Custom_Swedbanklink>
	</modules>
	<global>
		<helpers>
			<swedbanklink>
				<class>Custom_Swedbanklink_Helper</class>
			</swedbanklink>
		</helpers>
		<blocks>
			<swedbanklink>
				<class>Custom_Swedbanklink_Block</class>
			</swedbanklink>
		</blocks>
		<models>
			<swedbanklink>
				<class>Custom_Swedbanklink_Model</class>
				<resourceModel>swedbanklink_mysql4</resourceModel>
			</swedbanklink>
			<swedbanklink_mysql4>
				<class>Custom_Swedbanklink_Model_Mysql4</class>
				<entities>
					<transaction>
                        <table>swedbanklink_transaction</table>
                    </transaction>
				</entities>
			</swedbanklink_mysql4>
		</models>
		<resources>
			<swedbanklink_setup>
				<setup>
					<module>Custom_Swedbanklink</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</swedbanklink_setup>
			<swedbanklink_write>
				<connection>
					<use>core_write</use>
				</connection>
			</swedbanklink_write>
			<swedbanklink_read>
				<connection>
					<use>core_read</use>
				</connection>
			</swedbanklink_read>
		</resources>
	</global>
	<frontend>
		<secure_url>
	        <swedbanklink>/swedbanklink</swedbanklink>
	    </secure_url>
		<routers>
            <swedbanklink>
                <use>standard</use>
                <args>
                    <module>Custom_Swedbanklink</module>
                    <frontName>swedbanklink</frontName>
                </args>
            </swedbanklink>
        </routers>
        <translate>
	        <modules>
	            <Custom_Swedbanklink>
	                <files>
	                    <default>Custom_Swedbanklink.csv</default>
	                </files>
	            </Custom_Swedbanklink>
	        </modules>
	    </translate>
	</frontend>
	<default>
		<payment>
			<swedbanklink>
				<title>Swedbank Bank Link</title>
                <active>1</active>
                <model>swedbanklink/standard</model>
                <sort_order>1</sort_order>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific> 
                <redirect_url><![CDATA[https://ib.swedbank.lv/banklink/]]></redirect_url>
                <language_code>LAT</language_code>
                <success_page>checkout/onepage/success</success_page>
                <cart_page>checkout</cart_page>
			</swedbanklink>
		</payment>
	</default>
</config>